NET "clk50mhz" LOC = "C9" | IOSTANDARD = LVCMOS33 | PERIOD = 20ns;
NET "uart_rx" LOC = "U8" | IOSTANDARD = LVCMOS33 | PULLUP;

# Servo A output (J4<0>)
NET "servo_pwm_out_x" LOC = "D5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;

# Servo B output (J4<1>)
NET "servo_pwm_out_y" LOC = "C5"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6 ;
